{% extends "layout.html" %}
{% block pagecontent %}
      <table class="info">
	<thead><tr><th colspan="2" style="text-align: left">Address {{addr['addr']}}</th></tr>
	</thead>
	<tbody>
	  <tr><th>Balance</th><td>{{addr['balance']}} {{chaininfo['unit']}}</td></tr>
	  <tr><th>First use</th><td>{{addr['firstuse']}} ({{addr['agefirst']}} ago)</td></tr>
	  <tr><th>Latest use</th><td>{{addr['lastuse']}} ({{addr['agelast']}} ago)</td></tr>
	  <tr><th>No. transactions</th><td>{{addr['notxs']}}</td></tr>
	</tbody>
      </table>
      <div class="center">{% if pendingtxs|length > 0 %}
	<h2>Pending transactions for address</h2>
	{% set txs = pendingtxs %}{% include "transaction-list.html" %}{% endif %}
	<h2>Confirmed transactions for address{{txinfo['header']}}</h2>
	{% set txs = ctxs %}{% include "transaction-list.html" %}
      </div>
{% endblock %}
