{% extends "layout.html" %}
{% block pagecontent %}
<p class="center">{% if info['prevurl'] == '' %}prev{% else %}<a href="{{info['prevurl']}}">prev</a> {% endif %}
  &nbsp;&nbsp;&nbsp;&nbsp; {{ info['low'] }} - {{ info['high'] }} of {{ topinfo['dbmax'] }}&nbsp;&nbsp;&nbsp;&nbsp;
  {% if info['nexturl'] == '' %}next{% else %}<a href="{{info['nexturl']}}">next</a> {% endif %}</p>
    <table class="info">
      <thead>
	<tr><th>Height</th><th>Timestamp</th><th>Age</th><th>Transactions</th></tr>
      </thead>
      <tbody>
	{% for b in blocks %}
	<tr><td><a href="/block/{{b['height']}}">{{ b['height'] }}</a></td><td>{{ b['time'] }}</td><td>{{ b['age'] }}</td><td>{{ b['numtxs'] }}</td></tr>
	{% endfor %}
      </tbody>
    </table>
    <p class="center">{% if info['prevurl'] == '' %}prev{% else %}<a href="{{info['prevurl']}}">prev</a> {% endif %}
      &nbsp;&nbsp;&nbsp;&nbsp; {{ info['low'] }} - {{ info['high'] }} of {{ topinfo['dbmax'] }}&nbsp;&nbsp;&nbsp;&nbsp;
      {% if info['nexturl'] == '' %} next {% else %} <a href="{{info['nexturl']}}">next</a> {% endif %}</p>
{% endblock %}
